/* extracted by css-entry-points-plugin */
@import './settings-CC01JR-3.chunk.css';
@import './style-OAP_8hhg.chunk.css';
@import './_plugin-vue_export-helper-B3f4nTyL.chunk.css';
@import './NcSettingsSection-BcLE6UnZ-D7mIRwIy.chunk.css';