/* extracted by css-entry-points-plugin */
@import './settings-CYLqN0O_.chunk.css';
@import './style-vn6ZBe6l.chunk.css';
@import './_plugin-vue_export-helper-xg6sWV1Z.chunk.css';
@import './NcSettingsSection-EAR0ylbd-D7mIRwIy.chunk.css';