/* extracted by css-entry-points-plugin */
@import './settings-CC01JR-3.chunk.css';
@import './style-OAP_8hhg.chunk.css';
@import './_plugin-vue_export-helper-r4QGd1cG.chunk.css';
@import './NcSettingsSection-DYXU4pOK-D7mIRwIy.chunk.css';