/* extracted by css-entry-points-plugin */
@import './settings-CYLqN0O_.chunk.css';
@import './style-DuxSA0FG.chunk.css';
@import './_plugin-vue_export-helper-BMaqNg4R.chunk.css';
@import './NcSettingsSection-BiX5No3C-D7mIRwIy.chunk.css';