/* extracted by css-entry-points-plugin */
@import './settings-ia6c5FHm.chunk.css';
@import './style-Dt0oxveS.chunk.css';
@import './_plugin-vue2_normalizer-Dm7y-0Iy.chunk.css';
@import './BrowserStorage-CmtDTHq2.chunk.css';
@import './NcSettingsSection-b_zSpTHq-BIJ64yJW.chunk.css';