/* extracted by css-entry-points-plugin */
@import './settings-CYLqN0O_.chunk.css';
@import './style-OAP_8hhg.chunk.css';
@import './_plugin-vue_export-helper-DQns_MOw.chunk.css';
@import './NcSettingsSection-BiX5No3C-D7mIRwIy.chunk.css';