/* extracted by css-entry-points-plugin */
@import './settings-CZnvTP7p.chunk.css';
@import './style-BGeCqt4J.chunk.css';
@import './_plugin-vue2_normalizer-C438kvtE.chunk.css';
@import './BrowserStorage-CyhoevBY.chunk.css';
@import './NcSettingsSection-BYKUjim0-DH5FZz7o.chunk.css';