/* extracted by css-entry-points-plugin */
@import './admin-settings-BlQ1Yve2.chunk.css';
@import './style-OAP_8hhg.chunk.css';
@import './_plugin-vue_export-helper-CxjGokpW.chunk.css';
@import './NcSettingsSection-EAR0ylbd-D7mIRwIy.chunk.css';