/* extracted by css-entry-points-plugin */
@import './settings-CYLqN0O_.chunk.css';
@import './style-vn6ZBe6l.chunk.css';
@import './_plugin-vue_export-helper-D-RHjdKK.chunk.css';
@import './NcSettingsSection-BcLE6UnZ-D7mIRwIy.chunk.css';