/* extracted by css-entry-points-plugin */
@import './settings-ia6c5FHm.chunk.css';
@import './style-DmAX-VC0.chunk.css';
@import './_plugin-vue2_normalizer-D9peD3JJ.chunk.css';
@import './BrowserStorage-DQZw8Am8.chunk.css';
@import './NcSettingsSection-EC3SmiDX-DH5FZz7o.chunk.css';