/* extracted by css-entry-points-plugin */
@import './settings-ia6c5FHm.chunk.css';
@import './style-CUqpM4Ms.chunk.css';
@import './_plugin-vue2_normalizer-D9peD3JJ.chunk.css';
@import './BrowserStorage-CUymxkzr.chunk.css';
@import './NcSettingsSection-C76Kqeew-DH5FZz7o.chunk.css';