/* extracted by css-entry-points-plugin */
@import './settings-ia6c5FHm.chunk.css';
@import './style-BY2itO4j.chunk.css';
@import './_plugin-vue2_normalizer-CBkgYvf9.chunk.css';
@import './BrowserStorage-DyufNkye.chunk.css';
@import './NcSettingsSection-BniKad1K-BIJ64yJW.chunk.css';