/* extracted by css-entry-points-plugin */
@import './settings-DtqqJkoR.chunk.css';
@import './style-YXBskS14.chunk.css';
@import './_plugin-vue2_normalizer-C2JErX_p.chunk.css';
@import './BrowserStorage-9H3wQsvz.chunk.css';
@import './NcSettingsSection-evNvfEg2-BIJ64yJW.chunk.css';