/* extracted by css-entry-points-plugin */
@import './admin-settings-65wjlg4S.chunk.css';
@import './style-BYxxunTY.chunk.css';
@import './_plugin-vue_export-helper-DQns_MOw.chunk.css';
@import './NcSettingsSection-BiX5No3C-D7mIRwIy.chunk.css';