/* extracted by css-entry-points-plugin */
@import './settings-ia6c5FHm.chunk.css';
@import './style-Dt0oxveS.chunk.css';
@import './_plugin-vue2_normalizer-EYSLPReO.chunk.css';
@import './BrowserStorage-jF09mp25.chunk.css';
@import './NcSettingsSection-ZV3KIsxm-BIJ64yJW.chunk.css';