.notification-container {
	background-color: #fff;
	display: none;
	position: absolute;
	right: 13px;
	top: 45px;
	width: 350px;
	max-width: 90%;
	min-height: 100px;
	border-radius: 0 0 3px 3px;
}

.notification-container .emptycontent h2 {
	font-weight: 300;
	font-size: 16px;
}

.notification {
	padding-bottom: 12px;
}

.notification:not(:last-child) {
	border-bottom: 1px solid rgb(238, 238, 238);
}

.notification-heading,
.notification-subject {
	display: flex;
}

img.notification-icon {
	width: 32px;
	height: 32px;
	display: flex;
}

.notification-subject > span.text,
.notification-subject > a > span.text {
	padding-left: 10px;
}

.notification .notification-empty {
	color: #999;
}

.notification-delete {
	display: flex;
	opacity: 0.5;
	padding: 14px;
}

.notification-delete:hover,
.notification-delete .icon-close,
.notifications-button img {
	opacity: 1;
	cursor: pointer;
}

.notification-time {
	opacity: 0.5;
	margin: 13px 0 13px auto;
}

.notifications-button {
	position: relative;
	float: right;
	width: 16px;
	height: 16px;
	display: block;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
	opacity: .6;
	cursor: pointer;
}
.notifications-button.hasNotifications,
.notifications-button:hover,
.notifications-button:focus {
	opacity: 1 !important;
}

.notification .button {
	border: 1px solid rgba(240,240,240,.9) !important;
	padding: 0 10px;
	box-shadow: none;
	margin: 0;
}

.notification-subject,
.notification .notification-message,
.notification .notification-full-message,
.notification .notification-actions {
	margin: 0 12px 12px;
}

.notification .notification-actions .action-button.primary {
	color: #fff;
}

.notification .notification-actions:first-child {
	margin-left: auto;
}

.notification .notification-message,
.notification .notification-full-message {
	line-height: 20px;
	opacity: .57;
}

.notification .notification-message img,
.notification .notification-full-message img,
.notification .notification-subject img:not(.notification-icon) {
	max-width: 32px;
	max-height: 32px;
	margin: 0 5px 5px 0;
}

.notification .avatar {
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 2px 3px;
}

.notification strong {
	font-weight: bold;
	opacity: 1;
}

/* Menu arrow */
.notification-container:after {
	right: 101px;
}

.notification-wrapper {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 260px;
}

.notifications .emptycontent {
	margin: 50px 0;
}

.notifications .avatar-name-wrapper {
	position: relative;
	cursor: pointer;
}
