div.notification {
    display: block;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 7px 15px 50px 15px;
}

div.notification-container {
    background-color: white;
    display: none;
    position: absolute;
    right: 50px;
    top: 45px;
    width: 400px;
    height: 260px;
    border-radius: 3px;
    border: 1px solid rgb(238, 238, 238);;
}

/* Fill width on mobile */
@media (max-width: 500px) {
    div.notification-container {
        right: 0;
        width: 100%;
    }
}

div.notification {
    color: black;
}

div.notification:hover > div.notification-delete{
    display: block !important;
    position: absolute;
    top: 4px;
    right: 9px;
    opacity: 0.3;
}

div.notification:hover {
    background-color: #f8f8f8;
}

div.notification-delete:hover {
    opacity: 0.8 !important;
}

div.notifications-button {
    position: relative;
    float: right;
    width: 21px;
    height: 21px;
    display: block;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;

}

div.notifications-button.hasNotifications {
    border: 2px solid white;
    width: 25px;
    height: 25px;
    margin-top: 8px;
}

div.notifications-button:hover {
    /* TODO cursor */
    opacity: 1;
}

div.notification div.button {
    border: 1px solid rgba(240,240,240,.9) !important;
    margin-left: 5px;
    padding: 0 10px;
}

div.notification div.actions {
    float:right;
    padding: 0;
}

div.notification div.actions:first-child {
    margin-left: auto;
}

div.notification div.notification-subject, div.notification-app {
    display: inline-block;
}

div.notification div.notification-app {
    font-weight: 600;
    margin-right: 5px;
}

div.notification div.notification-message {
    line-height: 20px;
    padding-bottom: 5px;
}

div.notification-container {
    box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
    overflow: scroll;
    overflow-x: hidden;
}
