.notification {
	display: block;
	padding: 16px 12px;
	line-height: 1em;
}
.notification:not(:last-child) {
	border-bottom: 1px solid rgb(238, 238, 238);
}

.notification-container {
	background-color: white;
	display: none;
	position: absolute;
	right: 50px;
	top: 45px;
	width: 350px;
	min-height: 100px;
	max-height: 260px;
	border-radius: 0 0 3px 3px;
	border: 1px solid rgb(238, 238, 238);;
}

.notification-container .emptycontent h2 {
	font-weight: 300;
	font-size: 16px;
}

/* Fill width on mobile */
@media (max-width: 500px) {
	.notification-container {
		right: 5%;
		width: 90%;
	}
}

.notification {
	color: black;
	position: relative;
	clear: both;
}

img.notification-icon {
	width: 32px;
	height: 32px;
	display: block;
}

/**
 * Vertical alignment from http://stackoverflow.com/a/39923209
 */
.notification-subject {
	padding-top: 12px;
	position: relative;
}

.notification-subject a {
	display: inline-block;
}

.notification-subject > span.image,
.notification-subject > span.text,
.notification-subject > a > span.image,
.notification-subject > a > span.text {
	display:table-cell;
	vertical-align:middle;
}

.notification-subject > span.text,
.notification-subject > a > span.text {
	padding-left: 10px;
}

.notification .notification-empty {
	color: #999;
}

.notification:hover > .notification-delete {
	display: block !important;
	position: absolute;
	top: 7px;
	right: 12px;
	opacity: 0.3;
}

.notification-delete:hover {
	opacity: 0.8 !important;
	cursor: pointer;
}

.notification-delete img, .notifications-button img {
	cursor: pointer;
}

.notification-time {
	text-align: right;
	opacity: 0.5;
	padding-right: 32px;
	margin-top: -7px;
	position: absolute;
	right: 0;
}

.notifications-button {
	position: relative;
	float: right;
	width: 21px;
	height: 21px;
	display: block;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
	opacity: 0.7;
	cursor: pointer;
}
.notifications-button.hasNotifications {
	opacity: 1 !important;
}

.notifications-button:hover {
	opacity: 1;
}

.notification .button {
	border: 1px solid rgba(240,240,240,.9) !important;
	padding: 0 10px;
	box-shadow: none;
	margin: 0;
}

.notification .notification-actions {
	padding: 0;
	display: inline-block;
	width: 100%;
	margin: -6px 0;
}

.notification .notification-actions .action-button.primary {
	color: #fff;
}

.notification .notification-actions:first-child {
	margin-left: auto;
}

.notification .notification-subject {
	margin-right: 20px;
}

.notification .notification-message {
	line-height: 20px;
	padding-bottom: 16px;
	opacity: .57;
}

.notification .notification-message img,
.notification .notification-subject img:not(.notification-icon) {
	max-width: 32px;
	max-height: 32px;
	margin: 0 5px 5px 0;
}

.notification .avatar {
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 2px 3px;
}

.notification strong,
.notification .notification-subject a:not(.full-subject-link) {
	font-weight: bold;
	opacity: 2;
}

.notification-container {
	box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
	overflow: auto;
	overflow-x: hidden;
}

.notifications .emptycontent {
	margin: 50px 0;
}
